input {
    width: 100%;
    size: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.checkbox {
    size: 20px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.form-inline {
    width: 50%;

}

.jumbutron {
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    border-right: hidden;
    border-left: hidden;
}

a {
    color: mediumpurple;
    navbutton_prev_normal: /*  */;
    nav-right: auto;
    nav-left: auto;
    nav-up: auto;
}


.foot {
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    border-right: hidden;
    border-left: hidden;

}

.container {

}